<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirme seu Registro</title>
</head>
<body>
    <h2>Olá!</h2>
    <p>Obrigado por se registrar. Por favor, clique no link abaixo para ativar sua conta:</p>
    <p><a href="{{.VerificationURL}}">Ativar Minha Conta</a></p>
    <p>Se você não se registrou, por favor, ignore este email.</p>
    <br>
    <p>Atenciosamente,</p>
    <p>A Equipe</p>
</body>
</html>
